<div class="policy-box">
    <h4>Policy for <%= link_to policy.policyable.name, polymorphic_path(policy.policyable) %></h4>
    <dl class="dl-horizontal">
        <dt>Type</dt>
        <dd><%= policy.policyable_type %> Policy</dd>
        <dt>Contact</dt>
        <dd><%= policy.contact %></dd>
        <dt>Embargo</dt>
        <dd><%= policy.embargo %></dd>
        <dt>Method of Acquisition</dt>
        <dd><%= policy.method_of_acquisition.humanize %></dd>
        <dt>Opt-out Required</dt>
        <dd>
            <% unless policy.opt_out_required.nil? %>
                <%= policy.opt_out_required ? 'Yes' : 'No' %>
            <% end %>
        </dd>
        <dt title="Should Request Opt-out Papers">Should Request Opt-out Papers</dt>
        <dd>
            <% unless policy.should_request.nil? %>
                <%= policy.should_request ? 'Yes' : 'No' %>
            <% end %>
        </dd>
        <dt>Notes</dt>
        <dd><%= raw(policy.note) %></dd>
        <dt class="popover-init" data-toggle="popover" data-trigger="hover"
                data-content="This is the wording that will appear automatically with citations for this publisher" data-placement="top">
            Special Message
            <span class="glyphicon glyphicon-question-sign"></span>
        </dt>
        <dd><%= policy.message %></dd>
    </dl>
</div>