<div class="row-fluid policy-row">
    <div class="span4"><strong>Contact:</strong></div>
    <div class="span8"><%= policy.contact %></div>
</div>
<div class="row-fluid policy-row">
    <div class="span4"><strong>Embargo:</strong></div>
    <div class="span8"><%= policy.embargo %></div>
</div>
<div class="row-fluid policy-row">
    <div class="span4"><strong>Method of Acquisition:</strong></div>
    <div class="span8"><%= policy.method_of_acquisition.humanize %></div>
</div>
<div class="row-fluid policy-row">
    <div class="span4"><strong>Opt Out Required:</strong></div>
    <div class="span8">
        <% unless policy.opt_out_required.nil? %>
            <% if policy.opt_out_required %>
                Yes
            <% else %>
                No
            <% end %>
        <% end %>
    </div>
</div>
<div class="row-fluid policy-row">
    <div class="span4"><strong>Should Request Opt Out Papers:</strong></div>
    <div class="span8">
        <% unless policy.should_request.nil? %>
            <% if policy.should_request %>
                Yes
            <% else %>
                No
            <% end %>
        <% end %>
    </div>
</div>
<div class="row-fluid policy-row">
    <div class="span4"><strong>Special Message:</strong></div>
    <div class="span8"><%= policy.message %></div>
</div>
<div class="row-fluid policy-row">
    <div class="span4"><strong>Notes:</strong></div>
    <div class="span8"><%= policy.note %></div>
</div>