<div class="page-header text-center">
    <h1>Search for Policies</h1>
</div>

<div class="row">
    <%= form_tag({:controller => "search", :action => "index"}, :method => "get") do %>
        <div class="col-md-6 col-md-offset-3">
            <div class="input-group">
                <%= text_field_tag :query, nil, :class => "form-control" %>
                <span class="input-group-btn">
                    <%= button_tag "Search", :type => "submit", :name => nil,
                            class: "btn btn-default" %>
                </span>
            </div>
        </div>
    <% end %>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2 v-spaced">
        <% if @journal %>
            <% if @journal.policy %>
                <%= render :partial => "policy", :object => @journal.policy %>
            <% elsif @journal.publisher.policy %>
                <div class="alert alert-info">
                    No journal policy for <%= @journal.name %>. Showing active
                    publisher policy.
                </div>
                <%= render :partial => "policy", :object => @journal.publisher.policy %>
            <% else %>
                <div class="alert alert-danger">
                    No journal or publisher policy found for <%= @journal.name %>
                </div>
            <% end %>
        <% else %>
            <div class="alert alert-warning">No matching journals.</div>
        <% end %>
    </div>
</div>