<h1><%= @refable.name %></h1>
<%= form_for :entity_ref, html: {class: "form-horizontal"} do |f| %>
    <fieldset>
        <legend>Aliases</legend>
        <% if notice %>
            <div class="alert alert-success"><%= notice %></div>
        <% end %>
        <% if alert %>
            <div class="alert alert-error"><%= alert %></div>
        <% end %>
        <% if @refable.entity_refs.empty? %>
            <div class="alert">There are no aliases for this journal</div>
        <% else %>
            <% @refable.entity_refs.each do |ref| %>
                <div class="control-group">
                    <div class="controls">
                        <span class="input-xlarge uneditable-input" title="<%= ref.refvalue %>">
                            <%= ref.refvalue %>
                        </span>
                        <%= link_to 'Delete', journal_entity_ref_path(@refable, ref),
                            class: "btn", id: "id_entity_ref_#{ ref.id }", method: :delete %>
                    </div>
                </div>
            <% end %>
        <% end %>
        <div class="control-group">
            <%= f.label :refvalue, "Add a new alias:", class: "control-label" %>
            <div class="controls">
                <%= f.text_field :refvalue, class: "input-xlarge" %>
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </div>
    </fieldset>
<% end %>