<div class="page-header text-center">
    <h1>Manage Aliases for <%= @refable.name %></h1>
</div>

<%= form_for :entity_ref, html: {class: "form-horizontal"} do |f| %>
    <% if notice %>
        <div class="alert alert-success"><%= notice %></div>
    <% end %>
    <% if alert %>
        <div class="alert alert-danger"><%= alert %></div>
    <% end %>
    <% if @refable.entity_refs.empty? %>
        <div class="well">There are no aliases for this item</div>
    <% else %>
        <% @refable.entity_refs.each do |ref| %>
            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="input-group">
                        <span class="disabled form-control" title="<%= ref.refvalue %>">
                            <%= ref.refvalue %>
                        </span>
                        <span class="input-group-btn">
                            <%= link_to "Delete", polymorphic_path([@refable, ref]),
                                class: "btn btn-primary", method: :delete %>
                        </span>
                    </div>
                </div>
            </div>
        <% end %>
    <% end %>
    <div class="form-group">
        <%= f.label :refvalue, "Add a new alias:", class: "control-label col-sm-3" %>
        <div class="col-sm-6">
            <%= f.text_field :refvalue, class: "form-control" %>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-6 col-sm-offset-3">
            <button type="submit" class="btn btn-primary">Add</button>
            <%= link_to "Cancel", polymorphic_path(@refable), class: "btn btn-default" %>
        </div>
    </div>
<% end %>
