<h1 class="text-center"><%= controller_name.humanize %></h1>

<div class="row">
    <%= form_tag({}, :method => "get") do %>
        <div class="col-md-6 col-md-offset-3">
            <div class="input-group">
                <%= text_field_tag :query, nil, class: "form-control",
                        value: params[:query] %>
                <span class="input-group-btn">
                    <%= button_tag "Search", type: "submit", name: nil,
                            class: "btn btn-default" %>
                </span>
            </div>
        </div>
    <% end %>
</div>

<div class="row v-spaced">
    <div class="col-md-8 col-md-offset-2">
        <p class="text-center lead">
            <%= page_entries_info @results %></p>
        </p>

        <div class="list-group">
            <% @results.each do |r| %>
                <%= link_to r.name, r, class: "list-group-item" %>
            <% end %>
        </div>

        <div class="text-center"><%= paginate @results %></div>
    </div>
</div>