<% render 'policies/sherpa' %>

<div class="page-header text-center">
    <h1><%= @refable.name %></h1>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="text-center">
            <% if @refable.respond_to?('publisher') %>
                <h2>Published by <%= link_to @refable.publisher.name, publisher_path(@refable.publisher) %></h2>
            <% end %>
            <div class="btn-group">
                <a class="btn btn-primary" href="<%= edit_polymorphic_path(@refable) %>">
                    Edit <%= controller_name.singularize.humanize %> Info
                </a>
                <% if @refable.policy %>
                    <a class="btn btn-primary"
                        href="<%= edit_polymorphic_path([@refable, @refable.policy]) %>">
                        Edit Policy
                    </a>
                <% else %>
                    <a class="btn btn-primary"
                        href="<%= new_polymorphic_path([@refable, :policy]) %>">
                        Add Policy
                    </a>
                <% end %>
                <a class="btn btn-primary"
                    href="<%= polymorphic_path([@refable, :entity_refs]) %>">
                    Manage Aliases
                </a>
                <% if @refable.respond_to?('journals') %>
                    <a class="btn btn-primary"
                        href="<%= new_journal_path(publisher: @refable.id) %>">
                        Create Journal
                    </a>
                <% end %>
            </div>
        </div>
        <div class="v-spaced">
            <% if @refable.policy %>
                <%= render :partial => "search/policy", :object => @refable.policy %>
            <% else %>
                <div class="alert alert-warning">
                    No policy for this <%= controller_name.singularize %>.
                </div>
            <% end %>
        </div>
        <% if @refable.respond_to?('publisher') and @refable.publisher.policy %>
            <div class="v-spaced">
                <%= render :partial => "search/policy", :object => @refable.publisher.policy %>
            </div>
        <% end %>
        <div class="row v-spaced">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Aliases</h3>
                    </div>
                    <div class="panel-body">
                        <% if @refable.entity_refs.empty? %>
                            <p class="text-muted">No aliases for this <%= controller_name.singularize %>.</p>
                        <% else %>
                            <ul class="list-unstyled panel-list">
                                <% @refable.entity_refs.each do |ref| %>
                                    <li><%= ref.refvalue %></li>
                                <% end %>
                            </ul>
                        <% end %>
                    </div>
                </div>
            </div>
            <% if @refable.respond_to?('journals') %>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Journals</h3>
                        </div>
                        <div class="panel-body">
                            <% if @refable.journals.empty? %>
                                <p class="text-muted">No journals for this publisher.</p>
                            <% else %>
                                <ul class="panel-list list-unstyled">
                                    <% @refable.journals.each do |j| %>
                                        <li><%= link_to j.name, j %></li>
                                    <% end %>
                                </ul>
                            <% end %>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
    <div class="col-md-4">
        <h4 class="text-center">Matching SHERPA/RoMEO Policies</h4>
        <div id="sherpa-policies">
            <span id="policy-loading"><em>Looking for policies...</em></span>
        </div>
    </div>
</div>
