<%= form_for(@journal, html: {class: "form-horizontal"}) do |f| %>
  <% if @journal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@journal.errors.count, "error") %> prohibited this journal from being saved:</h2>

      <ul>
      <% @journal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, "Canonical Name", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :name, { size: nil, class: "span12" } %>
    </div>
  </div>

  <fieldset>
    <legend>Aliases</legend>
    <div id="alias_message"></div>
    <div class="alias-input">
      <% @journal.entity_refs.each do |ref| %>
        <div class="control-group">
          <div class="controls">
            <span class="input-xlarge uneditable-input" title="<%= ref.refvalue %>">
              <%= ref.refvalue %>
            </span>
            <button type="button" class="btn delete_alias" title="Delete alias"
              data-url="<%= journal_entity_ref_path @journal, ref %>">
              <i class="icon-trash"></i>
            </button>
          </div>
        </div>
      <% end %>
    </div>
    <div class="control-group">
      <div class="controls">
        <a href="#add_dialog" role="button" class="btn" data-toggle="modal">Add a new alias</a>
      </div>
    </div>
  </fieldset>

  <div class="form-actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>

<% end %>

<div id="add_dialog" class="modal hide fade" role="dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
      &times;
    </button>
    <h3>Add an Alias</h3>
  </div>
  <div class="modal-body">
    <div id="add_message"></div>
    <div class="row-fluid">
      <div class="span12">
        <input type="text" id="add_alias" class="span8 offset2" />
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Cancel</button>
    <button class="btn btn-primary" type="button" id="add_alias_button"
      data-url="<%= journal_entity_refs_path @journal %>">Add Alias</button>
  </div>
</div>
