<h1>Journals</h1>

<%= form_tag({:controller => "journals", :action => "index"}, :method => "get", :class => "form-search") do %>
    <div class="input-append">
        <%= text_field_tag :query, nil, :class => "search-query", :value => params[:query] %>
        <%= button_tag "Search", :type => "submit", :class => "btn", :name => nil %>
    </div>
<% end %>

<div class="center">
    <strong><%= page_entries_info @results %></strong>
</div>

<div class="resource-listing">
<% @results.each do |j| %>
    <div class="row-fluid">
        <div class="span12">
            <%= link_to j.name, j %>
        </div>
    </div>
<% end %>
</div>

<%= paginate @results %>